{% extends "layout.html" %}
{% block content %}
    <section class="introduction">
        <p class="app-intro-text">
            日テレ系ドラマ「あなたの番です」のTwitter診断系アプリです。
        </p>
        <p class="intro-text">
            名前を入力すると、実際にドラマで紙に書かれたいずれかの名前が出ます。<br>
            （2019/06/01時点で情報が出てるものに対応）
        </p>
    </section>
    <div class="form-container">
        <form id="form1" method="post" action="./result.html">
            <div class="cp_iptxt">
                <input type="text" name="user_name" placeholder="あなたが書く名前">
                <i class="fas fa-pencil-alt form-fa-size" aria-hidden="true"></i>
            </div>
            <div class="btn-container">
                <input type="hidden">
                <a href="javascript:form1.submit()" id="draw-btn" class="btn-square-slant">
                    <i class="fas fa-exchange-alt"></i> 紙を交換する
                </a>
            </div>
        </form>
    </div>
{% endblock %}